:root {
    --primary-color: #154D71;
    --secondary-color: #1C6EA4;
    --accent1-color: #33A1E0;
    --accent2-color: #FFF9AF;
    --heading-font: "times new roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    gap: 20px;
}

.logo img {
    height: 80px;
    width: auto;
    display: block;
}

.main-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

}

.main-nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 850px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: black;
    background-color: var(--accent1-color);
    text-align: center;
}

nav {
    margin: 16px;
    padding: 8px;
    color: var(--accent2-color)
}

p,
section {
    margin: 16px;
    padding: 8px;
    color: var(--primary-color)
}

article p {
    margin: 16px;
    padding: 8px;
    color: var(--accent2-color);
}

.hero {
    position: relative;
    padding: 20px;
}

.hero image {
    display: block;
    width: 600px;
    height: auto;
}

.hero-message {
    position: absolute;
    top: 30px;
    left: 300px;
    color: black;
    text-align: center;

}

.hero-message p {
    position: relative;
    top: 50px;
    left: 50px;
    font-size: x-large;
    color: var(--accent2-color);
    text-align: center;
}

h1 {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: rgb(245, 244, 242);
}

.title {
    width: 100%;
    position: relative;
    padding: 20px;

}

.title h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: rgb(245, 244, 242);
    margin: 1px;

}

.title h2 {

    font-family: var(--heading-font);
    color: black;
    top: 40px;
    background-color: var(--accent1-color);
    text-align: center;

}

iframe {
    width: 100%;
    height: 100%;
    align-self: left;

}

.hero article {
    position: absolute;
    bottom: 30px;
    width: 95%;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: white;

}

.hero article img {
    float: right;
    width: 100px;

}

.history-container {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.history-container img {
    width: 160px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}

.main-footer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    gap: 20px;
}

.socialmedia {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-decoration: none;
    gap: 30px;

}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    justify-content: center;
    padding: 20px;
}

.adventures h2 {
    grid-column: 1 /span 5;
    text-align: center;

}

.staff {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: center;
    padding: 20px;
}

.staff h2 {
    grid-column: 1 /span 3;
    text-align: center;
}

form {
    width: 350px;
    align-items: center;
    padding: 10px;
    border: black solid 2px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: var(--accent2-color);
    display: grid;
}

button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5rem;
    padding: 0.75rem;
    font-size: 1.2rem;

}

.button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
    text-decoration: none;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;

}

.test {
    display: flex;
    flex-wrap: wrap;

}

.offerings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
}

.offerings img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.offerings-text {
    text-align: justify;
    background-color: gainsboro;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin: 40px 0;
}

.schedule-table th,
.schedule-table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.schedule-table th {
    background-color: var(--primary-color);
    color: white;
}

.contact-us {
    position: relative;

}

.contact-us a {
    position: relative;
}

.trips-available {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
    text-align: center;
    align-items: center;
}

.trips-available img {
    width: 300px;
    height: auto;
    object-fit: cover;

}